*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.main{
  background-color:cadetblue;
  font-size: 20px;
  margin: 50px;
  padding-bottom: 50px;
}

header{
  background-color: black;
  font-size: 20px;
  margin: 0;
  width: 100%;
}

header ul{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

header a{
  color: aqua;
}

img{
  width: 250px;
  height: 300px;
  align-self: center;
  border-radius: 25px;
  display: block;
  margin: 0 50px;
}

ul{
  list-style: none;
}


.tarjeta{
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
}

.datos{
  display: block;
  margin: 0 50px;
  width: 300px;
  text-align: justify;
}
