*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  
}

#root{
  display: flex;
  justify-content: center;
  height: 790px
}

header a{
  color: aqua;

}

header a:hover{
  color: #4F9F64;
}

img{
  width: 250px;
  height: 300px;
  align-self: center;
  border-radius: 25px;
  display: block;
  margin: 0 50px;
}

ul{
  list-style: none;
}


